<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <form action="/repertoarDB" method="post" class="reg2">
    <label>Broj sale</label>
    <input type="text" name="brojsale" class="email2" required>
    <br>
    <label>Ime filma</label> 
    <input type="text" name="imefilma" class="email2" required>
    <br>
    <label>Datum emitovanja</label>
    <input type="text" name="datum" class="email2" required>
    <br>
    <label>Pocetak filma</label>
    <input type="text" name="vreme" class="email2" required>
    <br>
    <label>Broj slobodnih mesta</label>
    <input type="text" name="brojmesta" class="email2" required>
    <br>

    <input type="submit" value="Unesi" class="dugme" style="background-color: black ; color: white;" required>
    
    </form>
</body>
</html>